body{
    background-color: #fffbf7;
    margin: 0;
}


.main{
    margin-top: 140px;
    text-align: center;
}
.main h1{
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    font-weight: 900;
    
}

.main h4{
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
}

.texto-promocional{
    color: #8b8b8bcc;
    margin-top: 15px;
}

.texto-boton{
    color: #fff;
    background-color: #025157;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
}

input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
}

.header{
    margin: 0 20px;
    font-size: 0;
    height: 15%;
    line-height: 45px;
    font-family: sans-serif;
    font-size: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    padding-bottom: 15px;
}


.header li{
    display: inline;
}

.header >* {
    display: inline-block;
    font-size: 16px;
}

.header .logo{
    width: 15%;
    text-align: left;
}

.header .navbar{
    width: 70%;
    text-align: center;
}

.header .navbar ul{
    padding: 0;
}

.header .actions{
    width: 15%;
    text-align: right;
}

button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

figure {
    margin-top: 32px;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.promo {
    display: flex;
    max-width: 70%;
    margin: 100px auto;
    align-items: center;
}

.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.explanatory-video {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

p {
    color: #8b8b8bcc;
    margin-top: 15px;
}

.promo .explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.promo .explanatory-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}

.publish{
    padding-left: 10px;
}
